.RecipesSidebar {
  .RecipesSidebar__section {
    margin-bottom: 1em;

    .RecipesSidebar__name {
      margin-bottom: 0;
    }
    .RecipesSidebar__content {
      font-family: inherit;
    }
  }
}